# User-User Collaborative Filtering

## Part 1 - Without Normalization

In [1]:
import numpy as np
import pandas as pd

In [2]:
movie_row = pd.read_csv("data/UUCF Assignment Spreadsheet.xls - movie-row.csv")
user_row = pd.read_csv("data/UUCF Assignment Spreadsheet.xls - user-row.csv")
correlations = pd.read_csv("data/UUCF Assignment Spreadsheet.xls - correlations.csv")
movie_row.rename(columns={'Unnamed: 0':'movie'}, inplace=True)
user_row.rename(columns={'Unnamed: 0':'user_id'}, inplace=True)
correlations.rename(columns={'Unnamed: 0':'user_id'}, inplace=True)
movie_row.set_index('movie', inplace=True)
user_row.set_index('user_id', inplace=True)
correlations.set_index('user_id', inplace=True)

In [3]:
movie_row.head(1)

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
movie,,,,,,,,,,,,,,,,,,,,,
11: Star Wars: Episode IV - A New Hope (1977),NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.0,NaN,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN

In [4]:
user_row.head(1)

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),...,8467: Dumb & Dumber (1994),8587: The Lion King (1994),9331: Clear and Present Danger (1994),9741: Unbreakable (2000),9802: The Rock (1996),9806: The Incredibles (2004),10020: Beauty and the Beast (1991),36657: X-Men (2000),36658: X2: X-Men United (2003),36955: True Lies (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1648,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,5.0,3.5,3.0,NaN,3.5,NaN

In [5]:
correlations.head(1)

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
user_id,,,,,,,,,,,,,,,,,,,,,
1648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Complete the user-by-user correlations matrix.

In [23]:
correlations.columns

Index(['1648', '5136', '918', '2824', '3867', '860', '3712', '2968', '3525',
       '4323', '3617', '4360', '2756', '89', '442', '3556', '5261', '2492',
       '5062', '2486', '4942', '2267', '4809', '3853', '2288'],
      dtype='object')

In [16]:
correlations.loc[3525, "1648"]

0.09277465028

In [18]:
user_row.loc[3525].corr(user_row.loc[1648]), user_row.loc[1648].corr(user_row.loc[3525])

(0.09277465028461011, 0.09277465028461011)

In [22]:
user_row.loc[3525].corr(user_row.loc[3525])

1.0

In [24]:
for i in range(len(user_row.index)):
    for j in range(len(user_row.index)):
        user_id1 = user_row.index[i]
        user_id2 = user_row.index[j]
        correlations.loc[user_id1, str(user_id2)] = user_row.loc[user_id1].corr(user_row.loc[user_id2])

In [26]:
correlations.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
user_id,,,,,,,,,,,,,,,,,,,,,
1648,1.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,-0.191988,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048
5136,0.402980,1.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.488607,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067
918,-0.142206,0.118979,1.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.373226,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162
2824,0.517620,0.057916,-0.317063,1.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,-0.201275,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999
3867,0.300200,0.341734,0.294558,-0.060913,1.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.174085,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856

### dentify the top 5 neighbors (the users with the 5 largest, positive correlations) for users 3867 and 89

In [35]:
correlations.loc[3712].sort_values(ascending=False)[:6]

3712    1.000000
2824    0.462910
3867    0.400275
5062    0.247693
442     0.227130
3853    0.193660
Name: 3712, dtype: float64

In [33]:
correlations.loc[3867].sort_values(ascending=False)[:6]

3867    1.000000
2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64

In [34]:
correlations.loc[89].sort_values(ascending=False)[:6]

89      1.000000
4809    0.668516
5136    0.562449
860     0.539066
5062    0.525990
3525    0.475495
Name: 89, dtype: float64

### compute the predictions for each movie for users 3867 and 89
Create a new worksheet in your spreadsheet, and use it to compute the predictions for each movie for users 3867 and 89 by taking the correlation-weighted average of the ratings of the top-five neighbors (for each target user) for each movie. The formal formula for correlation-weighted average is 
$\frac{\sum_{n=1}^5 r_n w_n}{\sum_{n=1}^5 w_n}$

Remember, you will need to make sure that your weight for each contributed rating is the user-user correlation when that neighbor has rated the movie, but 0 when the neighbor has not rated the movie). In a real recommender system, we’d be excluding movies the user has already rated, but do not do this here.

In [182]:
predictions = pd.DataFrame()

In [188]:
# user 3712, 3525, 3867, 89
users = [3712, 3525, 3867, 89]

In [189]:
for user in users:
    for movie in movie_row.index:
        RW = 0
        W = 0
        for neighborId in correlations.loc[user].sort_values(ascending=False)[1:6].index:
            r = user_row.loc[int(neighborId), movie]
            w = 0 if np.isnan(r) else correlations.loc[user, neighborId]
            rw = r * w if w > 0 else 0    # IMPORTANT
            RW += rw
            W += w
        predictions.loc[user, movie] = RW / W if W != 0 else np.nan

In [190]:
predictions

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),...,8467: Dumb & Dumber (1994),8587: The Lion King (1994),9331: Clear and Present Danger (1994),9741: Unbreakable (2000),9802: The Rock (1996),9806: The Incredibles (2004),10020: Beauty and the Beast (1991),36657: X-Men (2000),36658: X2: X-Men United (2003),36955: True Lies (1994)
3712,4.003233,4.000000,4.302242,4.260827,3.663728,4.013394,3.949931,2.920458,4.494735,4.399779,...,2.146785,3.579401,NaN,NaN,2.000000,3.191131,3.235477,3.818799,3.681008,3.000000
3867,4.020581,3.347734,3.749478,3.804172,3.345121,4.172620,4.027814,4.091132,4.472487,4.179766,...,1.813320,2.322035,1.801453,3.0,3.471149,4.028247,3.280872,3.555468,3.296959,3.166017
89,4.133725,4.267451,4.601470,3.861582,3.980830,3.898067,4.551396,3.492586,4.329285,4.359637,...,3.197648,4.505207,3.500000,3.5,3.031329,4.045618,3.726119,4.179819,3.804122,3.265665
3525,4.265056,4.467274,4.587088,4.000000,3.331064,4.544119,5.000000,3.518119,4.743519,4.430809,...,2.144209,4.756592,NaN,NaN,3.224335,3.839576,4.136144,3.930809,3.715405,3.500000

In [191]:
predictions.loc[3712].sort_values(ascending=False)[:3]

641: Requiem for a Dream (2000)    5.000000
603: The Matrix (1999)             4.855924
105: Back to the Future (1985)     4.739173
Name: 3712, dtype: float64

In [192]:
predictions.loc[3525].sort_values(ascending=False)[:3]

238: The Godfather (1972)                           5.0
194: Amelie (2001)                                  5.0
38: Eternal Sunshine of the Spotless Mind (2004)    5.0
Name: 3525, dtype: float64

In [193]:
predictions.loc[3867].sort_values(ascending=False)[:3]

1891: Star Wars: Episode V - The Empire Strikes Back (1980)    4.760291
155: The Dark Knight (2008)                                    4.551454
122: The Lord of the Rings: The Return of the King (2003)      4.507637
Name: 3867, dtype: float64

In [194]:
predictions.loc[89].sort_values(ascending=False)[:3]

238: The Godfather (1972)               4.894124
278: The Shawshank Redemption (1994)    4.882194
807: Seven (a.k.a. Se7en) (1995)        4.774093
Name: 89, dtype: float64

## Part 2 - Normalization

use the normalization formula

$\bar{r_u} + \frac{\sum_{n=1}^5 (r_n - \bar{r_n} ) w_n}{\sum_{n=1}^5 w_n}$

$\bar r_u$: target user's mean rating (they might be a positive / negative person)

$r_n$: n-th neighbor user's rating on this item

$\bar r_n$: n-th neighbor user's mean rating (they might be a positive / negative person)

$w_n$: weights (correlation score between target user $u$ and neighbor user $u$ calculated previously)

In [197]:
normalized_predictions = pd.DataFrame()
# user 3712, 3525, 3867, 89
users = [3712, 3525, 3867, 89]

In [201]:
user_row.loc[3712].mean()

4.5

In [203]:
for user in users:
    ru_mean = user_row.loc[user].mean()
    for movie in movie_row.index:
        RW = 0
        W = 0
        for neighborId in correlations.loc[user].sort_values(ascending=False)[1:6].index:
            rn_mean = user_row.loc[int(neighborId)].mean()
            
            r = user_row.loc[int(neighborId), movie]
            w = 0 if np.isnan(r) else correlations.loc[user, neighborId]
            rw = (r - rn_mean) * w if w > 0 else 0    # IMPORTANT
            
            RW += rw
            W += w
        normalized_predictions.loc[user, movie] = ru_mean + RW / W if W != 0 else np.nan

In [204]:
normalized_predictions

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),...,8467: Dumb & Dumber (1994),8587: The Lion King (1994),9331: Clear and Present Danger (1994),9741: Unbreakable (2000),9802: The Rock (1996),9806: The Incredibles (2004),10020: Beauty and the Beast (1991),36657: X-Men (2000),36658: X2: X-Men United (2003),36955: True Lies (1994)
3712,4.676902,4.760429,4.991885,5.022238,4.337398,4.703037,4.722522,3.774435,5.131727,5.197040,...,2.907214,4.262009,NaN,NaN,2.900000,3.951560,3.995906,4.616060,4.541747,3.838462
3525,3.895077,4.097295,4.217108,3.878656,3.054934,4.303624,4.315856,3.352345,4.295977,4.309465,...,2.076118,4.480462,NaN,NaN,3.292415,3.563446,4.068053,3.809465,3.594061,3.546875
3867,4.505800,3.477161,4.054794,3.886764,3.773592,4.477936,4.383088,4.396449,4.777803,4.485082,...,1.906731,2.807254,2.286672,3.771538,3.600575,4.157673,3.766091,3.648820,3.426386,3.248610
89,4.686099,4.819825,5.049074,4.240812,4.428435,4.450441,4.930626,4.051834,4.977640,4.850521,...,3.750022,4.933098,4.183894,4.183894,3.740130,4.493223,4.173724,4.670702,4.136335,3.974465

In [205]:
normalized_predictions.loc[3712].sort_values(ascending=False)[:3]

641: Requiem for a Dream (2000)    5.900000
603: The Matrix (1999)             5.545567
105: Back to the Future (1985)     5.500585
Name: 3712, dtype: float64

In [206]:
normalized_predictions.loc[3525].sort_values(ascending=False)[:3]

238: The Godfather (1972)                4.759504
424: Schindler's List (1993)             4.663251
134: O Brother Where Art Thou? (2000)    4.585337
Name: 3525, dtype: float64

In [207]:
normalized_predictions.loc[3867].sort_values(ascending=False)[:3]

1891: Star Wars: Episode V - The Empire Strikes Back (1980)    5.245509
155: The Dark Knight (2008)                                    4.856770
77: Memento (2000)                                             4.777803
Name: 3867, dtype: float64

In [208]:
normalized_predictions.loc[89].sort_values(ascending=False)[:3]

238: The Godfather (1972)               5.322015
278: The Shawshank Redemption (1994)    5.261424
275: Fargo (1996)                       5.241111
Name: 89, dtype: float64